/* -----------------------------------------------------------------------------
 * Abty colors
 * -------------------------------------------------------------------------- */
@define-color pinkold #DA627D;
@define-color neonblue #44C0EC;
@define-color background #202330;
@define-color darkred #472541;
@define-color nadal #F2448B;
@define-color purple #D9BCEF;
@define-color lightgrey #6D7A72;
@define-color gold  #FFF0F5;
@define-color monk #87C095;
@define-color lightpink #EBA4AC;
@define-color lime #9CD162;
@define-color yellow #FFC95B;
@define-color beigeish #FAE8B6;
@define-color spotify #66CC99;
@define-color shadow #0F0F0F;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
background-color: @neonblue;
}
 
#text:selected {
color: @darkred;
}
 
#window {
background-color: @background;
background-color: transparent;
border-radius: 15px;
font-family: SF Pro Display;
animation: fadeIn;
animation-duration: 0.3s;
}

#inner-box {
color: @background;
padding: 3px;
padding-top: 0px;
}

#outer-box {
margin: 15px;
border-radius: 15px;
background-color: @background;
box-shadow: 0px 0px 5px 0px  @shadow;
}

#text {
font-size: 12;
padding: 7px;
color: @beigeish;
background-color: transparent;
} 
